body {
  background-color: #282c34;
}

.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-source {
  text-align: right;
  font-size: .9rem;
}
.App-header > p {
  max-width: 700px;
}
@media (max-width: 419px){
  .App-header > p {
    max-width: 100%;
  }
}